.inputs{
    border-style: solid;
    border-width:1px;
    background-color: #2E2E1F;
    border-color: #A3A375;
    color:#A3A375;
}

.text{
    color:#A3A375;
}

.center{
    text-align: center;
}

li{
    list-style: none;
}

body{
    background-image: url("steamworkshop.jpg");
    background-color: #212117;
}

input{
    display: block;
    margin-right: 20px;
}

div{
    background-color: #212117;
    width: 250px;
    border: 1px solid #A3A375;
    opacity: 0.6;
    filter: alpha(opacity=60);
    margin: auto;
}

.notransparency{
    opacity: 1.0;
    filter: alpha(opacity=100);
}