.border{
    border-style: solid;
    border-width:1px;
    background-color: #2E2E1F;
    border-color: #A3A375;
    color:#A3A375;
}

.text, a{
    color:#A3A375;
}

a{
    text-decoration: none;
}

.center{
    margin: auto;
    display: table;
    vertical-align: middle;
}

li{
    list-style: none;
}

body{
    background-position: bottom; 
    background-image: url("steamworkshop.jpg");
    background-color: #212117;  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.transparency{
    opacity: 0.6;
    filter: alpha(opacity=60); 
}

input{
    display: block;
    margin-right: 20px;
    margin-top: 2px;
    margin-bottom: 8px;
    border-radius: 5px;
    outline: 0px;
    padding-left: 5px;
}


.login-box{
    width: 250px;
    margin-top: 300px;
}

#msg{
    margin-top: 10px;
    padding: 10px;
    width: 50%;
    
}

.box{
    overflow: hidden;
    background-color: rgba(33, 33, 23, 0.8);
    border: 1px solid #A3A375;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.button{
    margin: auto;
    margin-bottom: 10px;
    font-weight: bold;
    box-shadow: 0px 2px 4px 1px rgba(163, 163, 117,0.3) inset;
}

.button:hover { 
    text-shadow: 0px 1px 5px rgba(163, 163, 117, 0.7);
    font-size: large;
    font-weight: normal;
}

label{
    font-weight: bold;
}

.header{
    width: 250px;
    height: 20px;
    border-bottom: 1px solid rgba(163, 163, 117,0.5);
    padding-top: 5px;
    padding-bottom: 5px;
}

.gradient{
    background: linear-gradient(rgba(255,255,255,0.1), rgba(0,0,0,0.4));
}

.shadow{
    text-shadow: 1px 1px 1px rgb(00,00,00), -1px -1px 0px rgba(255,255,255,0.3);
}

#register{
    float: left;
    margin-top: 50px;
    width: 124px;
    height: 50px;
    border-top: 1px dashed rgba(163, 163, 117,0.5);
}

#login{
    float: right;
    margin-top: 50px;
    width: 124px;
    height: 50px;
    border-top: 1px dashed rgba(163, 163, 117,0.5);
}

.align{
    margin-top: 15px;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.topbar{
    overflow: hidden;
    background-color: rgba(33, 33, 23, 0.8);
    width: 250px;
    height: 100px;
    border-bottom: 1px solid #A3A375;
    border-left: 1px solid #A3A375;
    border-right: 1px solid #A3A375;
    border-radius: 0px 0px 25px 25px;
    margin: auto;
    margin-top: -50px;
    position: relative; 
}