.inputs{
    border-style: solid;
    border-width:1px;
    background-color: #212117;
    border-color: #A3A375;
    color:#A3A375;
}

.text{
    color:#A3A375;
}

.center{
    text-align:center;
}

li{
    list-style: none;
}

body{
    background-color:#2E2E1F;
}

imput{
    display: block
}