.inputs{
    border-style: solid;
    border-width:1px;
    background-color: #2E2E1F;
    border-color: #A3A375;
    color:#A3A375;
}

.text{
    color:#A3A375;
}

.center{
    text-align: center;
}

li{
    list-style: none;
}

body{
    background-image: url("streamworkshop.jpg");
}

input{
    display: block
}

div{
    background-color: #212117;
    width: 300px;
    border: 1px solid #A3A375;
    opacity: 0.6;
    filter: alpha(opacity=60);
}